@font-face {
    font-family: 'WWF';
    src: url('./fonts/WWF.woff') format('woff2'),
        url('./fonts/WWF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

